<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSX_XMB_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PSX_XMB_Manager.My.MySettings>
            <setting name="StorageBackend" serializeAs="String">
                <value>WSL2NBD</value>
            </setting>
            <setting name="SelectedWslDistro" serializeAs="String">
                <value />
            </setting>
            <setting name="NbdPort" serializeAs="String">
                <value>10809</value>
            </setting>
            <setting name="LastPsxIp" serializeAs="String">
                <value />
            </setting>
            <setting name="WslHelperProtocolVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </PSX_XMB_Manager.My.MySettings>
    </userSettings>
</configuration>